@charset "UTF-8";


	*{
		list-style:none;
	}
	
	#post{
		width: 70%;
		height: 100%;
		margin: 0 auto;
		margin-top:150px;
		margin-bottom:50px;
		border-top:5px solid rgb(98,98,226);
		border-bottom:5px solid rgb(98,98,226);
	}
	
	#image{
		margin-top:30px;
		padding-left:30px;
	}
	
	#header_title{
		margin-top:10px;
		border-bottom: 1px solid rgb(132,132,232);
	}
	
	#comment{
		width:1200px;
		height:130px;
		margin:0 auto;
		margin-top:30px;
		border-radius:5px;
		background:rgb(234,234,251);
		padding: 30px;
		position:relative;
	}
	
	#comment > img {
		position:absolute;
		left:13px;
		top:23px;
	}
	
	#comment > * {
		display:inline-block;
	}
	
	#comment > form > {
		width:100%;
		height:100%;
		display:inline-block;
		padding-top:50px;
		float:right;
	}
	
	#comment > form > input[type=text]{
		width:390px;
	}
	
	h1{
		color:rgb(77,77,79);
	}
	
	#header_info{
		text-align:right;
		border-bottom: 1px solid rgb(132,132,232);
	}
	
	#files{
		border-bottom: 1px solid rgb(132,132,232);
		border-top: 1px solid rgb(132,132,232);
		padding:10px 0 10px 0;
		margin-bottom: 18px;
	}
	
	#files > *{
		display:inline-block;
		padding-left: 30px;
	}
	
	#header_info > * {
		display:inline-block;
		margin: 5px 20px;
	}
	
	#header_info > span:first-child{
		font-weight:bold;
		font-size:19px;
	}
	
	#header_info > span:first-child + span{
		font-weight:bold;
		font-size:15px;
		color:#777;
	}
	
	textarea{
		margin:auto 0px;
		line-height:18px;
		font-size:15px;
		padding:9px;
		width:950px;
		height:80px;
		color:#000;
		border: 1px solid rgb(238,238,238);
		background: rgb(250,250,250);
		position:relative;
		left: 90px;
	}
	
	.aa{
		position:relative;
	}
	
	#comment > form > input{
		width:80px;
		height:80px;
		position: absolute;
		right: 30px;
		color: white;
		background: #6262e2;
		border: none;
		border-radius: 14px;
	}
	
	#buttons {
	    text-align: right;
	}
	
	#buttons > * {
	    border: 1px solid #673ab7;
	    border-radius: 13px;
	    background: #eaeafb;
	    padding: 5px;
	    margin-left: 17px;
	    color: #673ab7;
	}
	
	#wrapper pre{
		margin-top:10px;
		font-size:17px;
	}
	
	#list{
		width:1200px;
		margin:0 auto;
		padding:0px;
		margin-top:30px;
	}
	
	#list > li {
		padding : 11px;
		border-top:1px solid rgb(238,238,238);
		border-bottom:1px solid rgb(238,238,238);
	}
	
	#list > li:first-child {
		border-top:2px solid rgb(238,238,238);
	}
	
	#list > li > div > div:first-child > span:first-child {
		display:inline-block;
		font-weight:700;
		font-size:1.05em;
		margin-bottom:5px;
		color:#333;
	}
	
	#list > li > div > div:first-child > span:nth-child(2){
		display:inline-block;
		font-size:1.05em;
		float:right;
		color:rgb(150,150,150);
	}
	
	#list > li > div > div:first-child > a {
		text-decoration:none;
		margin-left: 7px;
		color: gray;
	}
	
	#reImg{
		position: absolute;
		margin-left: 168px;
		top: 25px;
		width:28px;
	}
	
	a{
		text-decoration:none;
	}
	
	#post > #header_title,#content > * {
		padding-left:30px;
	}
	
	
